In [4]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [8]:
# get data
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz -P ./data
! gzip -df ./data/green_tripdata_2019-09.csv.gz
! wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv -P ./data

--2024-02-23 23:20:58--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443...

connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T132001Z&X-Amz-Expires=300&X-Amz-Signature=c99d6777aad81b5d6d666ad006c2b0c180857dd3c47c6f5970a58e881055e997&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-23 23:20:59--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T132001Z&X-Amz-Expires=300&X-Amz-Signature=c99d6777aad81b5d6d666ad006c2b0c180857dd3c47c6f5970a58e881055e997&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘./data/green_tripdata_2019-09.csv.gz.1’

green_tripdata_2019 100%[===================>]   7.49M  6.91MB/s    in 1.1s

2024-02-23 23:21:01 (6.91 MB/s) - ‘./data/green_tripdata_2019-09.csv.gz.1’ saved [7854533/7854533]

--2024-02-23 23:21:02--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.33.102, 52.217.204.56, 52.217.81.46, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.33.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘./data/taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-02-23 23:21:03 (153 MB/s) - ‘./data/taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [5]:
db_engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
%load_ext sql
%sql db_engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
trip_data = pd.read_csv(
    './data/green_tripdata_2019-09.csv',
    parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'],
    iterator=True,
    chunksize=10e4,
)

In [6]:
for chunk in trip_data:
    t_start = time()
    
    chunk.to_sql(name='green_taxi_data', con=db_engine, if_exists='append')

    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

/tmp/ipykernel_1695358/553332126.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in trip_data:

inserted another chunk, took 39.116 second

In [7]:
zones = pd.read_csv('./data/taxi+_zone_lookup.csv')

In [8]:
zones.to_sql(name='zones', con=db_engine, if_exists='replace')

265

### Question 3. Count records

How many taxi trips were totally made on September 18th 2019?

In [7]:
%%sql
SELECT
	COUNT(LPEP_PICKUP_DATETIME)
FROM
	GREEN_TAXI_DATA
WHERE
	LPEP_PICKUP_DATETIME > '2019-09-18'
	AND LPEP_DROPOFF_DATETIME < '2019-09-19'

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

1 rows affected.

   count
0  15611

### Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance?

In [8]:
%%sql
SELECT   DATE(lpep_pickup_datetime),
max(trip_distance) max_distance
FROM green_taxi_data
GROUp by DATE(lpep_pickup_datetime)
Order by max_distance DESC
Limit 1

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

1 rows affected.

         date  max_distance
0  2019-09-26        341.64

### Question 5. Three biggest pick up Boroughs

Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?

In [7]:
%%sql
SELECT
   "Borough",
	SUM(DATA.TOTAL_AMOUNT) as total
FROM
	GREEN_TAXI_DATA DATA
LEFT JOIN ZONES Z ON "PULocationID" = "LocationID"
WHERE
	DATE(LPEP_PICKUP_DATETIME) = '2019-09-18'
GROUP BY
	"Borough"
 Having  SUM(DATA.TOTAL_AMOUNT) > 50000
ORDER BY total desc

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

3 rows affected.

     Borough     total
0   Brooklyn  96333.24
1  Manhattan  92271.30
2     Queens  78671.71

### Question 6. Largest tip

For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

In [8]:
%%sql
SELECT
	Z_PU."Zone" PU_ZONE,
	Z_DO."Zone" DO_ZONE,
	TIP_AMOUNT
FROM
	GREEN_TAXI_DATA DATA
	JOIN ZONES Z_PU ON "PULocationID" = Z_PU."LocationID"
	JOIN ZONES Z_DO ON "DOLocationID" = Z_DO."LocationID"
WHERE
	EXTRACT(
		MONTH
		FROM
			LPEP_PICKUP_DATETIME
	) = 9
	AND Z_PU."Zone" = 'Astoria'
ORDER BY
	TIP_AMOUNT DESC
LIMIT
	1

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

1 rows affected.

   pu_zone      do_zone  tip_amount
0  Astoria  JFK Airport       62.31